# Project specific data files
dp.js
data/
tests/data/
*.hash
test_data.json

# Generated Python files
src/preservationeval/lookup_tables.py
src/preservationeval/tables.py
src/preservationeval/main/tables.py
src/preservationeval/_version.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
__pypackages__/

# Testing and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/
coverage.xml
*.cover
.pytest_report.xml

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.ruff_cache/

# pre-commit
.pre-commit

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.DS_Store
*.sw[op]
*~
*.sublime-workspace
*.sublime-project

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# Build artifacts
*.so
*.dll
*.dylib
