name: Update pre-commit hooks

on:
  # Every Friday at 15:00 UTC
  schedule:
    - cron: "0 15 * * 5"
  # On demand
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6

      - uses: browniebroke/pre-commit-autoupdate-action@d5663279643bd228226e60a4fe4fa9efc30c03eb
        env:
          # Checked out main so need to skip no-commit-to-branch 
          SKIP: no-commit-to-branch


      - uses: peter-evans/create-pull-request@6699836a213cf8b28c4f0408a404a6ac79d4458a
        if: always()
        with:
          token: ${{ github.token }}
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.

