name: Update pre-commit hooks

on:
  # Every Friday at 15:00 UTC
  schedule:
    - cron: "0 15 * * 5"
  # On demand
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5

      - uses: browniebroke/pre-commit-autoupdate-action@d5663279643bd228226e60a4fe4fa9efc30c03eb
        env:
          # Checked out main so need to skip no-commit-to-branch 
          SKIP: no-commit-to-branch


      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676
        if: always()
        with:
          token: ${{ github.token }}
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.

